{% extends "base.html" %}
{% block content %}HI - FLASKER{% endblock %}

{% block body %}
    <h1>HIHIHIHIHIHIHIHIHIHIHIHIHIFLASK</h1>
    <form method="POST">
        <label for="name">enter your user name</label> 
        <input type="text" name="name" placeholder="what is your name: ">
        <br>
        <input type="submit" value="Submit">
    </form>
    <img src="https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630">
{% endblock %}